@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url(img/bj.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
}
img{
    position: relative;
    height: 100vh;
    width: 100%;
    opacity: 80%;
}
.numbers{
    display: flex;
    width: fit-content;
    border: 1px solid lightgray;
}
h1 {
    font-weight: normal;
    font-size: 50px;
    margin: 50px 0 20px 0;
    text-align: center;
}
.countdown{
    background: red;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    background: #000;
    padding: 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.last{
    border-right: none;
}

span{
    font-size: 20px;
    padding-inline: 15px;
    background: red;
    border-left: 1px solid;
    margin-left: -1px;
}

.days{
    border-left: none;
    margin-left: 1px;
}

@media (max-width:500px){
    .big-text{
        font-size: 30px;
    }
    h1{
        font-size: 30px;
    }
}
